<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>Pedido de factura</title>
</head>
<style>
  body {
    font-family: 'Recursive', sans-serif;
    font-size: larger;
  }
</style>

<body>

  <!-- navbar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pedido de Facturas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end  -->

  <div class="container py-3">
    <h1>Módulo para la creación de Facturas</h1>
    <h3>Complete los datos.</h3>
    <% if( error !="" ){ %>
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <strong> Error </strong>
        <%= error %>.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
  </div>
  <br>
  <div class="container">
    <form action="nueva" , method="POST", name="formulario">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="row mb-4">
        <div class="col">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
        <select class="form-control" id="tipoDocumento" name="tipoDocumento">
          <option selected>Tipo de Documento...</option>
            <option value="96">DNI</option>
            <option value="80">CUIT</option>
            <option value="86">CUIL</option>
            <option value="87">Cédula</option>
            <option value="89">LE</option>
            <option value="90">LC</option>
            <option value="91">CI Extranjera</option>
            <option value="94">Pasaporte</option>
            <option value="99">Doc. (Otro)</option>
        </select>
        </div>
        <div class="col">
          <div class="form-outline">
            <input class="form-control" type="number" name="doc_numero" id="doc_numero" placeholder="Nro. de documento"
              autocomplete="off">
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <input type="text" class="form-control" id="domicilio" name="domicilio" placeholder="Domicilio">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
        <select class="form-control" id="nivel" name="nivel" onchange="cambia_division()">
          <option value="0" selected>Elija Nivel Educativo</option>
            <option value="1">Inicial</option>
            <option value="2">Primaria</option>
            <option value="3">Secundaria</option>
            <option value="4">PEP</option>
            <option value="5">IES</option>
        </select>
        </div>
        <div class="col">
          <select class="form-control" id="division" name="division">
            <option value="0" selected>Sala, grado o división</option>
              <option value="1">Inicial</option>
              <option value="2">Primaria</option>
              <option value="3">Secundaria</option>
              <option value="4">PEP</option>
              <option value="5">IES</option>
          </select>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <select class="form-control" id="tipoFactura" name="tipoFactura">
            <option selected>Tipo de Factura...</option>
            <option value="11">Factura C</option>
            <option value="15">Recibo C</option>
            <option value="1" disabled>Factura A</option>
            <option value="4" disabled>Recibo A</option>
            <option value="6" disabled>Factura B</option>
            <option value="9" disabled>Recibo B</option>
          </select>
        </div>
        <div class="col">
            <select class="form-control" id="conceptoFactura" name="conceptoFactura">
              <option selected>Concepto de la Factura...</option>
              <option value="2">Servicios</option>
              <option value="1" disabled>Productos</option>
              <option value="3" disabled>Productos y Servicios</option>
            </select>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
        <select class="form-control" id="condIVA" name="condIVA">
          <option value="0" selected>Condición Frente al IVA</option>
            <option value="Consumidor Final">Consumidor Final</option>
            <option value="IVA Responsable Inscripto">IVA Responsable Inscripto</option>
            <option value="IVA Responsable no Inscripto">IVA Responsable no Inscripto</option>
            <option value="IVA no Responsable">IVA no Responsable</option>
            <option value="IVA Sujeto Exento">IVA Sujeto Exento</option>
            <option value="Responsable Monotributo">Responsable Monotributo</option>
            <option value="Pequeño Contribuyente Eventual">Pequeño Contribuyente Eventual</option>
            <option value="Monotributista Social">Monotributista Social</option>
            <option value="Pequeño Contribuyente Eventual Social">Pequeño Contribuyente Eventual Social</option>
        </select>
        </div>
        <div class="col">
          <select class="form-control" id="condVenta" name="condVenta">
            <option value="0" selected>Condición de la Venta</option>
              <option value="Contado">Contado</option>
              <option value="Transferencia">Transferencia</option>
              <option value="Tarjeta de crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de débito">Tarjeta de débito</option>
              <option value="Cheque">Cheque</option>
          </select>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <input class="form-control" type="number" name="importe" id="importe" placeholder="Importe"
              autocomplete="off">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="detalleFactura">Detalle de la factura</label>
        <textarea type="text" class="form-control" id="detalleFactura" name="detalleFactura" rows="3"></textarea>
      </div>
      <br>
      <input
              type="submit"
              class="btn btn-lg btn-block btn-outline-primary"
              value="Facturar!"
            />
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous">
  </script>
  <script>
    let divisiones_1=new Array("...","SALA 3 TM","SALA 4 TM","SALA 5 TM","SALA 3 TT","SALA 4 TT","SALA 5 TT");
    let divisiones_2=new Array("...","1ro A TM","1ro B TM","2do A TM","2do B TM","3ro A TM","3ro B TM","4to A TM","4to B TM","5to A TM","5to B TM","6to A TM","6to B TM","7mo A TM","7mo B TM","1ro C TT","1ro D TT","2do C TT","2do D TT","3ro C TT","3ro D TT","4to C TT","4to D TT","5to C TT","5to D TT","6to C TT","6to D TT","7mo C TT","7mo D TT");
    let divisiones_3=new Array("...","1ro 1ra TM","1ro 6ta TM","1ro 7ma TM","2do 1ra TM","2do 6ta TM","2ro 7ma TM","3ro 1ra TM","3ro 2da TM","3ro 3ra TM","3ro 7ma TM","4to 1ra TM","4to 2da TM","4to 5ta TM","4to 7ma TM","5to 1ra TM","5to 2da TM","5to 5ta TM","5to 7ma TM","1ro 3ra TT","1ro 5ta TT","1ro 8va TT","2do 3ra TT","2do 4ta TT","2do 5ta TT","3ro 4ta TT","3ro 5ta TT","3ro 6ta TT","4to 3ra TT","4to 4ta TT","4to 6ta TT","5to 3ra TT","5to 4ta TT","5to 6ta TT");
    let divisiones_4=new Array("...","Ciclo Básico","Ciclo Profesional");
    let divisiones_5=new Array("...","Ciclo Básico","Ciclo Profesional");

    let todasLasDivisiones = [
      [],
      divisiones_1,
      divisiones_2,
      divisiones_3,
      divisiones_4,
      divisiones_5,
    ];

    function cambia_division(){ 
          let nivel 
          nivel = document.formulario.nivel[document.formulario.nivel.selectedIndex].value 
          if (nivel != 0) { 
              mis_divisiones=todasLasDivisiones[nivel]
              num_divisiones = mis_divisiones.length 
              document.formulario.division.length = num_divisiones 

              for(i=0;i<num_divisiones;i++){ 
                document.formulario.division.options[i].value=mis_divisiones[i] 
                document.formulario.division.options[i].text=mis_divisiones[i] 
              }	
          }else{ 
              document.formulario.division.length = 1 
              document.formulario.division.options[0].value = "-" 
              document.formulario.division.options[0].text = "-" 
          } 
          document.formulario.division.options[0].selected = true 
      }
  </script>

</body>

</html>