<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Recibo de Pago</title>
    <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
        .s1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
        .s2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 18pt; }
        .s3 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 24pt; }
        .s4 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; }
        .s5 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt; }
        .s6 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
        .s7 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
        .s8 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
        .s9 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
        .s10 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; vertical-align: -1pt; }
        .s11 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: -1pt; }
        .s12 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
        h2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
        h1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
        .p, p { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin:0pt; }
        table, tbody {vertical-align: top; overflow: visible; }
    </style>
  </head>
  <body>
    <table style="border-collapse:collapse;margin-left:6pt" cellspacing="0">
            <tr style="height:27pt">
                <td style="width:566pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
                    <p class="s1" style="padding-top: 6pt;padding-left: 239pt;padding-right: 239pt;text-indent: 0pt;text-align: center;">ORIGINAL</p>
                </td>
            </tr>
            <tr style="height:38pt">
                <td style="width:260pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s2" style="padding-top: 7pt;padding-left: 15pt;text-indent: 51pt;line-height: 21pt;text-align: left;">ASOCIACION COOPERADORA POR LA</p>
                </td>
                <td style="width:47pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s3" style="text-indent: 0pt;line-height: 27pt;text-align: center;">C</p>
                    <p class="s4" style="padding-left: 6pt;padding-right: 6pt;text-indent: 0pt;line-height: 9pt;text-align: center;">COD. 15</p>
                </td>
                <td style="width:259pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s2" style="padding-top: 8pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">RECIBO</p>
                </td>
            </tr>
            <tr style="height:73pt">
                <td style="width:282pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                    <p class="s5" style="padding-left: 4pt;padding-right: 17pt;text-indent: 0pt;text-align: center;">Razón Social: <span class="s6">ASOCIACION COOPERADORA POR LA NIÑEZ</span></p>
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                    <p class="s5" style="padding-left: 4pt;padding-right: 31pt;text-indent: 0pt;text-align: center;">Domicilio Comercial:  <span class="s6">Alberdi Juan B. Av. 163 - Ciudad de</span></p>
                    <p class="s6" style="padding-left: 2pt;padding-right: 17pt;text-indent: 0pt;text-align: center;">Buenos Aires</p>
                    <p class="s5" style="padding-top: 4pt;padding-left: 4pt;padding-right: 86pt;text-indent: 0pt;text-align: center;">Condición frente al IVA: IVA Sujeto Exento</p>
                </td>
                <td style="width:282pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s5" style="padding-left: 42pt;text-indent: 0pt;line-height: 1pt;text-align: left;">Punto de Venta: <span class="s7">00003  </span>Comp. Nro: <span class="s7">00003108</span></p>
                    <p class="s5" style="padding-top: 3pt;padding-left: 42pt;text-indent: 0pt;text-align: left;">Fecha de Emisión:  <span class="s7">20/04/2022</span></p>
                    <p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s5" style="padding-left: 42pt;text-indent: 0pt;text-align: left;">CUIT: <span class="s6">33611473759</span></p>
                    <p class="s5" style="padding-top: 1pt;padding-left: 42pt;text-indent: 0pt;text-align: left;">Ingresos Brutos:  <span class="s6">Exento</span></p>
                    <p class="s5" style="padding-top: 1pt;padding-left: 42pt;text-indent: 0pt;text-align: left;">Fecha de Inicio de Actividades:  <span class="s6">13/11/1987</span></p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:566pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
                    <p class="s8" style="padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">Período Facturado Desde:  <span class="s9">30/04/2022   </span>Hasta: <span class="s9">30/04/2022      </span>Fecha de Vto. para el pago: <span class="s9">30/04/2022</span></p>
                </td>
            </tr>
            <tr style="height:60pt">
                <td style="width:566pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
                    <p class="s10" style="padding-top: 2pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">CUIT: <span class="s11">20230086568           </span><span class="s5">Apellido y Nombre / Razón Social: </span><span class="s12">PULIDO HERNAN PABLO</span></p>
                    <p class="s5" style="padding-top: 9pt;padding-left: 5pt;padding-right: 6pt;text-indent: 0pt;line-height: 10pt;text-align: center;">Condición frente al IVA: <span class="s6">Consumidor Final        </span>Domicilio Comercial: <span class="s12">Bocayuva Quintino 1124 - Capital Federal, Ciudad de Buenos</span></p>
                    <p class="s12" style="padding-left: 136pt;padding-right: 6pt;text-indent: 0pt;line-height: 9pt;text-align: center;">Aires</p>
                    <p class="s5" style="padding-top: 2pt;padding-left: 5pt;padding-right: 420pt;text-indent: 0pt;text-align: center;">Condición de venta:  <span class="s6">Contado</span></p>
                </td>
            </tr>
            <tr style="height:20pt"><td style="width:566pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3"><p style="text-indent: 0pt;text-align: left;"><br/></p></td></tr>
            <tr style="height:400pt">
                <td style="width:566pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3"><p style="text-indent: 0pt;text-align: left;"><br/></p>
                    <h2 style="padding-top: 5pt;padding-left: 11pt;text-indent: 0pt;line-height: 135%;text-align: left;">Recibi(mos) la suma de: <span class="p">$ 6789,46</span> en concepto de:</h2>
                    <p style="padding-left: 16pt;text-indent: 0pt;text-align: left;">Pago de Cuota Comedor por el período Abril Sin Beca del alumno/a Ezequiel Pulido de la sala/grado/año 3ºB en la fecha 04/04/2022</p>
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                </td>
            </tr>
            <tr style="height:100pt">
                <td style="width:284pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt" colspan="2">
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: right;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">Subtotal: $ </span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: right;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">Bonif: %      </span>
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;">0  </span>
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">      Importe Bonif: $</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: right;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">Subtotal c/Bonif.: $</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: right;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">Importe Otros Tributos: $</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: right;">
                        <h2 style="text-indent: 0pt;line-height: 11pt;text-align: right;">Importe Total: $</h2>
                    </p>
                </td>
                <td style="width:82pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: left;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">6789,46</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: left;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">0,00</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: left;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">6789,46</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: left;">
                        <span style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt;">0,00</span>
                    </p>
                    <p style="padding-top: 1pt;padding-left: 25pt;text-indent: 26pt;line-height: 174%;text-align: left;">
                        <h2 style="padding-top: 1pt; padding-left: 25pt; text-indent: 26pt;text-align: left;">6789,46</h2>
                    </p>
                </td>
            </tr>
    </table>
  <!-- JavaScript Bundle with Popper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
            let fecha = req.context.fecha
            let options = { year: 'numeric', month: 'long', day: 'numeric' };

            console.log(fecha.toLocaleDateString("es-ES", options));
    </script>
  </body>
</html>