html *
{
   font-size: 1em;
   color: #000;
   font-family: Arial;
}
.break {
  width: 100%;
  height: 0;
}
.home-container {
  width: 1200px;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #080808;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-espacioarriba {
  width: 100%;
  height: 2em;
  display: flex;
  align-items: flex-start;
}
.home-titulo {
  width: 90%;
  height: 3em;
  display: flex;
  align-items: center;
  border-color: #080808;
  border-style: solid;
  border-width: 2px;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom-width: 0px;
}
.home-titulo-text {
  width: 100%;
  height: 1em;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-datoscoope {
  width: 90%;
  height: 20em;
  display: flex;
  align-items: center;
  border-color: #080808;
  border-style: solid;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
}
.home-fechas {
  width: 90%;
  height: 3em;
  font-size: 18px !important;
  display: flex;
  margin-top: 0.5em;
  align-items: center;
  border-color: #080808;
  border-style: solid;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}
.home-datossocio {
  width: 90%;
  height: 133px;
  display: flex;
  margin-top: 0.5em;
  align-items: flex-start;
  border-color: #080808;
  border-style: solid;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
}
.home-datosfactura {
  width: 90%;
  height: 746px;
  display: flex;
  margin-top: 0.5em;
  align-items: flex-start;
  border-color: #060606;
  border-style: solid;
  border-width: 0px;
  padding-left: 1em;
  flex-direction: column;
  justify-content: flex-start;
}

.home-totales {
  width: 90%;
  height: 169px;
  display: flex;
  margin-top: 0.5em;
  align-items: flex-start;
  border-color: #060606;
  border-style: solid;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: flex-end;
}
.home-cae {
  width: 90%;
  height: 160px;
  display: flex;
  margin-top: 0.5em;
  align-items: flex-end;
  border-color: #060606;
  border-style: solid;
  border-width: 0px;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: row;
  justify-content: flex-end;
}
.home-pie {
  width: 70%;
  height: 38px;
  display: flex;
  align-items: flex-start;
}
.home-container01 {
  flex: 0 0 auto;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 1em;
  padding-left: 1em;
  flex-direction: column;
  padding-bottom: 1em;
  justify-content: space-between;
}
.home-container02 {
  width: 100%;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text001 {
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-container03 {
  width: 100%;
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text002 {
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
}
.home-text005 {
  font-size: 18px;
  height: 24px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  margin-left: 1em;
}
.home-text007 {
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
}
.home-text010 {
  font-size: 18px;
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  margin-left: 1em;
}
.home-text012 {
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
}
.home-text015 {
  font-size: 18px;
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
  margin-left: 1em;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  z-index: 100;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #080808;
  border-style: solid;
  border-top: none;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text017 {
  width: 100px;
  height: 70px;
  font-size: 50px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-text018 {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-container06 {
  width: 0px;
  height: 220px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.home-container08 {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text020 {
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-container09 {
  width: 100%;
  height: 239px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-container10 {
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container14 {
  width: 75%;
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container11 {
  width: 50%;
  height: 24px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.home-text021 {
  font-size: 18px;
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
}
.home-text022 {
  font-style: normal;
  font-weight: 600;
}
.home-text024 {
  height: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
  margin-left: 1em;
}
.home-text025 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-container12 {
  width: 215px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text026 {
  height: 24px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-weight: 600;
}
.home-text027 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.home-text029 {
  font-size: 18px;
  height: 24px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-weight: 600;
}
.home-text030 {
  font-style: normal;
  font-weight: 700;
}
.home-container13 {
  height: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.home-text031 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.home-text033 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-left: 1em;
}
.home-text035 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}

.home-text039 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.home-text041 {
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
  margin-left: 1em;
  margin-right: 6em;
}
.home-text043 {
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
}
.home-text044 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-text046 {
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  margin-left: 1em;
}

.home-container15 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
}
.home-text048 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.home-text051 {
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: 1em;
}
.home-container16 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.home-text053 {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-text055 {
  font-size: 22px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-left: 1em;
}
.home-container17 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-right: 2em;
  flex-direction: row;
  justify-content: flex-end;
}
.home-text057 {
  align-self: flex-end;
  text-align: right;
}
.home-text058 {
  font-style: normal;
  font-weight: 600;
}
.home-text059 {
  align-self: flex-end;
  text-align: right;
  margin-left: 1em;
}
.home-text060 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.home-container18 {
  width: 38%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text061 {
  align-self: flex-start;
}
.home-text062 {
  font-style: normal;
  font-weight: 600;
}
.home-text065 {
  align-self: flex-start;
}
.home-text066 {
  font-style: normal;
  font-weight: 600;
}
.home-text069 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.home-container19 {
  width: 627px;
  height: 104px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text073 {
  align-self: flex-start;
}
.home-text074 {
  font-style: normal;
  font-weight: 600;
}
.home-text075 {
  align-self: flex-start;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-left: 1em;
}
.home-text077 {
  align-self: flex-start;
}
.home-text078 {
  font-style: normal;
  font-weight: 600;
}
.home-text079 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: 1em;
  margin-right: 6em;
}
.home-espaciomedio {
  width: 90%;
  height: 50px;
  display: flex;
  margin-top: 0.5em;
  align-items: center;
  border-color: #060606;
  border-style: solid;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}
.home-container20 {
  width: 100%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text082 {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
.home-text084 {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  margin-left: 1em;
  margin-right: 0px;
}
.home-text086 {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.5em;
  margin-right: 6em;
}
.home-container21 {
  width: 1079px;
  height: 113px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text088 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.home-text090 {
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: 1em;
}
.home-container22 {
  width: 142px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text093 {
  align-self: flex-end;
}
.home-text094 {
  font-style: normal;
  font-weight: 600;
}
.home-text095 {
  align-self: flex-end;
  margin-top: 0.5em;
}
.home-text096 {
  font-style: normal;
  font-weight: 600;
}
.home-container23 {
  width: 211px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text098 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}
.home-text100 {
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-text102 {
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-text104 {
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-text106 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-container24 {
  width: 142px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text108 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}
.home-text110 {
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-text112 {
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-text114 {
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-text116 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-container25 {
  width: 663px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 1em;
  padding-right: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image {
  width: 130px;
  height: 134px;
  object-fit: cover;
}
.home-image1 {
  width: 216px;
  height: 93px;
  object-fit: cover;
  margin-left: 1em;
}
.home-container26 {
  width: 210px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
  padding-right: 1em;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text118 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}
.home-text120 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 600;
}
.home-container27 {
  width: 182px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text122 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
}
.home-text124 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0.5em;
  font-weight: 400;
}
.home-text126 {
  font-style: italic;
  font-weight: 400;
}
.home-espacioabajo {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
